@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inconsolata", serif;
  max-width: 1440px;
  margin: 0 auto;
}

main{
  background: url('./assets/images/background-mobile.png') no-repeat center center / cover;
}

@media(max-width : 640px){
  main{
    background: url('./assets/images/background-tablet.png') no-repeat center center / cover;
  }
}

@media(max-width : 1024px){
  main{
    background: url('./assets/images/background-desktop.png') no-repeat center center / cover;
  }
}
